<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPMS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Research Group</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="input_components/input_journal.html">Journal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="input_components/input_conference.html">Conference</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="input_components/input_bookChapter.html">Book Chapter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="input_components/input_reference.html">Reference</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="input_components/input_patent.html">Patent</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

      <div class="citation-js" data-input="10.1080/03772063.2016.1147389" data-output-format="bibtex" data-output-template="apa">
        <a href="https://wikidata.org/wiki/Q21972834">Link</a>
      </div>

      <div class="csl-bib-body"><div class="csl-entry">@article{Vamsi2016Trust,<ul style="list-style-type:none"><li>author = {Vamsi, P. Raghu and Kant, Krishna},</li><li>journal = {IETE Journal of Research},</li><li>number = {5},</li><li>year = {2016},</li><li>month = {3},</li><li>pages = {634--644},</li><li>publisher = {Informa UK Limited},</li><li>title = {Trust and {Location}-{Aware} {Routing} {Protocol} for {Wireless} {Sensor} {Networks}},</li><li>volume = {62},</li></ul>}</div></div>
      <div class="csl-bib-body"><div class="csl-entry">@article{Vamsi2016Trust,<ul style="list-style-type:none"><li>author = {Vamsi, P. Raghu and Kant, Krishna},</li><li>journal = {IETE Journal of Research},</li><li>number = {5},</li><li>year = {2016},</li><li>month = {3},</li><li>pages = {634--644},</li><li>publisher = {Informa UK Limited},</li><li>title = {Trust and {Location}-{Aware} {Routing} {Protocol} for {Wireless} {Sensor} {Networks}},</li><li>volume = {62},</li></ul>}</div></div>
      <!-- Bootstrap javascipt -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="../bundle.js"></script> -->

</body>
</html>